{%- comment -%}
  Pagination snippet
{%- endcomment -%}

{%- if paginate.pages > 1 -%}
  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
    <ul class="pagination__list">
      {%- if paginate.previous -%}
        <li class="pagination__item">
          <a href="{{ paginate.previous.url }}" class="pagination__link pagination__link--prev">
            {{ 'general.pagination.previous' | t }}
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
          <li class="pagination__item">
            <a href="{{ part.url }}" class="pagination__link">{{ part.title }}</a>
          </li>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <li class="pagination__item">
              <span class="pagination__link pagination__link--current" aria-current="page">{{ part.title }}</span>
            </li>
          {%- else -%}
            <li class="pagination__item">
              <span class="pagination__link">{{ part.title }}</span>
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if paginate.next -%}
        <li class="pagination__item">
          <a href="{{ paginate.next.url }}" class="pagination__link pagination__link--next">
            {{ 'general.pagination.next' | t }}
          </a>
        </li>
      {%- endif -%}
    </ul>
  </nav>
{%- endif -%}
