<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ shop.name }} - Moda Online</title>
    {{ content_for_header }}
    <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Clear+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="{{ 'styles.css' | asset_url }}">
  </head>
  <body>
    {% section 'header' %}
    {% section 'navbar' %}
    {% section 'hero' %}
    <main class="container">
      {% section 'categories' %}
      {% section 'products' %}
    </main>
    {% section 'promotions' %}
    <main class="container">
      {% section 'footer' %}
    {{ content_for_layout }}
    <script src="{{ 'scripts.js' | asset_url }}"></script>
  </body>
</html>
